/* Main CSS File for Coding (mooey5775) */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 1;
  background-color: white;
}

#footer {
  clear: both;
  width: 100%;
  background-color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.body {
  margin: 100px 10px 10px 10px;
  border-radius: 15px;
  background-color: #CC9900;
  height: 30em;
  width: 90%;
  float: right;
  position: relative;
}

body {
  background-color: #CCCCCC;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
