/* Main CSS File for Coding (mooey5775) */
* {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#header {
  margin: -20px 10px 10px 10px;
  border-radius: 15px;
  background-color: #1947D1;
  height: 15%;
  width: 97.5%;
  position: fixed;
}

.h1top {
  color: white;
  text-align: center;
}
