/* Main CSS File for Coding (mooey5775) */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
  margin: -20px 0px 10px 1.25%;
  border-radius: 15px;
  background-color: #003399;
  height: 5em;
  width: 97.5%;
  position: fixed;
}

#footer {
  clear: both;
  height: 3em;
  width: 97.5%;
  background-color: #003399;
  border-radius: 15px;
  position: relative;
}

.h1top {
  color: white;
  text-align: center;
  font-size: 3em;
}
